
@{
    ViewBag.Title = "Index";
}


<br />
<a class="btn btn-success" href="~/Home/GetAllQuestion" role="button">List Questions</a>
<a class="btn btn-warning" href="~/Home/AskQuestion" role="button">Ask Questions</a>
    